@using Microsoft.AspNetCore.Identity
@using MVCCoreStarterKit.Areas.Identity.Model
@inject SignInManager<IzendaUser> SignInManager
<li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
@if (SignInManager.IsSignedIn(User))
{
    <li>@Html.ActionLink("Izenda", "Izenda", "Home", null, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Settings", "Settings", "Home", null, new { @class = "nav-link" })</li>
    @*<li>@Html.ActionLink("Mixed Parts", "MixedParts", "Home", null, new { @class = "nav-link text-dark" })</li>*@

    @* Reports *@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false">
            Reports
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("New Report", "ReportDesigner", "Home", null, new { @class = "nav-link text-dark" })</li>
            <li>@Html.ActionLink("Report List", "Reports", "Home", null, new { @class = "nav-link text-dark" })</li>
            @* Add to report Viewer to Demo, hardcode Report ID to link user to a specific report - please update the report id with one created in your enviroment*@
            <li>@Html.ActionLink("Report Viewer", "ReportViewer", "Report", new { id = "[your report id]" }, new { @class = "nav-link text-dark" })</li>
            <li>@Html.ActionLink("Report Parts", "ReportParts", "Report", null, new { @class = "nav-link text-dark" })</li>
        </ul>
    </li>

    @* Dashboards *@
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-expanded="false">
            Dashboards
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("New Dashboard", "DashboardDesigner", "Home", null, new { @class = "nav-link text-dark" })</li>
            <li>@Html.ActionLink("Dashboard List", "Dashboards", "Home", null, new { @class = "nav-link text-dark" })</li>
            @* Add to report Viewer to Demo, hardcode Report ID to link user to a specific report - please update the report id with one created in your enviroment*@
            <li>@Html.ActionLink("Dashboard Viewer", "DashboardViewer", "Dashboard", new { id = "[your dashboard id]" }, new { @class = "nav-link text-dark" })</li>
        </ul>
    </li>
}